Repository emmo-repo/EMMOntoPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-docs-api-reference, update-docs-index, pylint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-symlinks
  - id: check-xml
    name: Check XML
    files: \.(xml|rdf|ttl)$
  - id: check-yaml
    name: Check YAML
  - id: destroyed-symlinks
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
    name: Fix requirements*.txt
    files: ^requirements.*\.txt$
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]

- repo: https://github.com/ambv/black
  rev: 21.12b0
  hooks:
  - id: black
    name: Blacken

- repo: https://github.com/PyCQA/bandit
  rev: '1.7.1'
  hooks:
  - id: bandit
    args: [-r]
    exclude: ^tests/.*$

# - repo: https://github.com/pre-commit/mirrors-mypy
#   rev: v0.910
#   hooks:
#   - id: mypy
#     exclude: ^tests/.*$

- repo: local
  hooks:
  - id: update-docs-api-reference
    name: Update API Reference in Documentation
    entry: invoke
    args: [create-api-reference-docs, --pre-clean, --pre-commit]
    language: python
    pass_filenames: false
    files: ^(emmopy|ontopy)/.*\.py$
    description: Update the API Reference documentation, whenever a Python file is touched in the code base.
  - id: update-docs-index
    name: Update Landing Page for Documentation
    entry: invoke
    args: [create-docs-index]
    language: python
    pass_filenames: false
    files: ^README.md$
    description: Update the landing page for the documentation if the source file (README.md) is changed.
  - id: pylint
    name: pylint
    entry: pylint
    language: python
    types: [python]
    require_serial: true
    exclude: ^tests/.*$

Updated - work in progress...
  ontopy/ontology.py
  ontopy/utils.py
  tools/ontoconvert
Due: update-docs-api-reference, pylint

Deployed 6b28a8b to latest with MkDocs 1.3.0 and mike 1.1.2
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

remove empty line 664
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Corrected expected number with actual number of returned arguments
  examples/ontology-from-excel/make_microstructure_onto.py
  ontopy/excelparser.py
  tools/excel2onto
Due: update-docs-api-reference, pylint

Fixed the rename_iris() and annotate_source() utility functions.
  ontopy/ontology.py
  ontopy/utils.py
  tools/ontoconvert
Due: update-docs-api-reference, pylint

Completed implementation of rename_iris() - it dragged a lot of changes with it..
  ontopy/factpluspluswrapper/sync_factpp.py
  ontopy/ontology.py
  ontopy/utils.py
  tools/ontoconvert
Due: update-docs-api-reference, pylint

First test, not working yet
  ontopy/ontology.py
  tests/testonto/testontology.ttl
Due: update-docs-api-reference, pylint

Added get_descendants as function to ontology
  ontopy/ontology.py
  tests/test_generation_search.py
Due: update-docs-api-reference, pylint

Added tests to new functions in utils.
  docs/tools-instructions.md
  ontopy/utils.py
  tests/ontopy/conftest.py
  tests/ontopy/test_utils.py
  tools/ontoconvert
Due: update-docs-api-reference, pylint

Added interactive test environment
  tests/ontopy/conftest.py
  tests/ontopy/interactive_test.py
Due: none

Uppdated annotate_source to use rdfs:isDefinedBy and fixed tests
  ontopy/utils.py
  tests/ontopy/interactive_test.py
  tests/ontopy/test_utils.py
  tests/ontopy/testutils.py
Due: update-docs-api-reference, pylint

better explantion of argument
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Changd default to return all descendants in ontology.get_descendants
  ontopy/ontology.py
  tests/test_generation_search.py
Due: update-docs-api-reference, pylint

Empty lines cleanup
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Corrected that a set and not list is returned in documentation
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Specified that set is returned in function definition
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Classes can be any kind of sequence
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Add functionality for setting name part of IRI to prefLabel (#399)
  docs/tools-instructions.md
  ontopy/factpluspluswrapper/sync_factpp.py
  ontopy/ontology.py
  ontopy/utils.py
  tests/ontopy/conftest.py
  tests/ontopy/interactive_test.py
  tests/ontopy/test_utils.py
  tests/ontopy/testutils.py
  tools/ontoconvert
Due: update-docs-api-reference, pylint

Try fixing documentation error
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Flb/get descendants (#405)
  ontopy/ontology.py
  tests/test_generation_search.py
  tests/testonto/testontology.ttl
Due: update-docs-api-reference, pylint

Deployed b5ff57c to latest with MkDocs 1.3.0 and mike 1.1.2
  latest/api_reference/ontopy/ontology/index.html
  latest/objects.inv
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Updated docs python handler
  .github/workflows/ci_workflow.yml
  ontopy/excelparser.py
  ontopy/factpluspluswrapper/owlapi_interface.py
  ontopy/ontodoc.py
  ontopy/utils.py
  requirements_docs.txt
Due: update-docs-api-reference, pylint

Move pylint disable statement
  tasks.py
Due: pylint

Updated docs python handler (#408)
  .github/workflows/ci_workflow.yml
  ontopy/excelparser.py
  ontopy/factpluspluswrapper/owlapi_interface.py
  ontopy/ontodoc.py
  ontopy/utils.py
  requirements_docs.txt
  tasks.py
Due: update-docs-api-reference, pylint

Remove unused kwargs parameter
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Deployed 398b7d6 to latest with MkDocs 1.3.0 and mike 1.1.2
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

Release v0.3.0
  CHANGELOG.md
  ontopy/__init__.py
Due: update-docs-api-reference, pylint

Deployed 8a19050 to latest with MkDocs 1.3.0 and mike 1.1.2
  latest/CHANGELOG/index.html
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

Fixed typo in ontoconvert
  tools/ontoconvert
Due: none

Deployed 701234c to latest with MkDocs 1.3.0 and mike 1.1.2
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Release v0.3.1
  CHANGELOG.md
  ontopy/__init__.py
Due: update-docs-api-reference, pylint

Deployed 0431fae to latest with MkDocs 1.3.0 and mike 1.1.2
  latest/CHANGELOG/index.html
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

Fixed bug in graph
  ontopy/graph.py
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

visualisation with cytoscapewidget improved with documentation.
  ontopy/graph.py
Due: update-docs-api-reference, pylint
