Repository emmo-repo/EMMOntoPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-docs-api-reference, update-docs-index, pylint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-symlinks
  - id: check-xml
    name: Check XML
    files: \.(xml|rdf|ttl)$
  - id: check-yaml
    name: Check YAML
  - id: destroyed-symlinks
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
    name: Fix requirements*.txt
    files: ^requirements.*\.txt$
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]

- repo: https://github.com/ambv/black
  rev: 21.12b0
  hooks:
  - id: black
    name: Blacken

- repo: https://github.com/PyCQA/bandit
  rev: '1.7.1'
  hooks:
  - id: bandit
    args: [-r]
    exclude: ^tests/.*$

# - repo: https://github.com/pre-commit/mirrors-mypy
#   rev: v0.910
#   hooks:
#   - id: mypy
#     exclude: ^tests/.*$

- repo: local
  hooks:
  - id: update-docs-api-reference
    name: Update API Reference in Documentation
    entry: invoke
    args: [create-api-reference-docs, --pre-clean, --pre-commit]
    language: python
    pass_filenames: false
    files: ^(emmopy|ontopy)/.*\.py$
    description: Update the API Reference documentation, whenever a Python file is touched in the code base.
  - id: update-docs-index
    name: Update Landing Page for Documentation
    entry: invoke
    args: [create-docs-index]
    language: python
    pass_filenames: false
    files: ^README.md$
    description: Update the landing page for the documentation if the source file (README.md) is changed.
  - id: pylint
    name: pylint
    entry: pylint
    language: python
    types: [python]
    require_serial: true
    exclude: ^tests/.*$

Made _unabbrivate() a help function
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Made a separate help function out of get_unabbreviated_triples()
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Fixed docstrings
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

cleanup
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Fixed loading in windows
  ontopy/utils.py
Due: update-docs-api-reference, pylint

Deployed 4e0e46d to latest with MkDocs 1.3.1 and mike 1.1.2
  latest/404.html
  latest/CHANGELOG/index.html
  latest/LICENSE/index.html
  latest/api_reference/emmopy/emmocheck/index.html
  latest/api_reference/emmopy/emmopy/index.html
  latest/api_reference/ontopy/colortest/index.html
  latest/api_reference/ontopy/excelparser/index.html
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/api_reference/ontopy/factpluspluswrapper/owlapi_interface/index.html
  latest/api_reference/ontopy/factpluspluswrapper/sync_factpp/index.html
  latest/api_reference/ontopy/graph/index.html
  latest/api_reference/ontopy/manchester/index.html
  latest/api_reference/ontopy/nadict/index.html
  latest/api_reference/ontopy/ontodoc/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/api_reference/ontopy/patch/index.html
  latest/api_reference/ontopy/utils/index.html
  latest/demo/horizontal/index.html
  latest/demo/index.html
  latest/demo/vertical/index.html
  latest/developers/release-instructions/index.html
  latest/developers/setup/index.html
  latest/developers/testing/index.html
  latest/docker-instructions/index.html
  latest/examples/emmodoc/classes/index.html
  latest/examples/emmodoc/emmo/index.html
  latest/examples/emmodoc/important_concepts/index.html
  latest/examples/emmodoc/index.html
  latest/examples/emmodoc/introduction/index.html
  latest/examples/emmodoc/relations/index.html
  latest/examples/jupyter-visualization/index.html
  latest/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tools-instructions/index.html
Due: none

Added README to factpluspluswrapper crediting the original authors.
  ontopy/factpluspluswrapper/README.md
Due: none

Added documentation of excel2onto.
  README.md
  docs/index.md
  docs/tools-instructions.md
Due: update-docs-index

Fixed issue #457 by avoiding resetting `added_rows` for each initial iteration.
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Deployed 9c98d98 to latest with MkDocs 1.3.1 and mike 1.1.2
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Update `pre-commit` hooks
  .pre-commit-config.yaml
Due: none

Added README to factpluspluswrapper crediting the original authors. (#453)
  ontopy/factpluspluswrapper/README.md
Due: none

Deployed 0623e97 to latest with MkDocs 1.3.1 and mike 1.1.2
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Deployed 855ed95 to latest with MkDocs 1.3.1 and mike 1.1.2
  latest/sitemap.xml.gz
Due: none

Added an extra count for all added rows, including all loops, and fix in property error list.
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Updated ttl file to be made in accordance with correction on restrictions
  tests/testonto/excelparser/fromexcelonto.ttl
Due: none

Fixed .tll files according to pylint
  tests/testonto/excelparser/fromexcelonto.ttl
Due: none

Fixed issue with exel2onto: not all relations are included in the generated ontology (#458)
  ontopy/excelparser.py
  tests/testonto/excelparser/fromexcelonto.ttl
Due: update-docs-api-reference, pylint

Added documentation of excel2onto. (#456)
  README.md
  docs/index.md
  docs/tools-instructions.md
Due: update-docs-index

Deployed 3f4297d to latest with MkDocs 1.3.1 and mike 1.1.2
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
  latest/tools-instructions/index.html
Due: none

Improved get_unabbreviated_triples() (#449)
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Deployed 2c5f2b9 to latest with MkDocs 1.3.1 and mike 1.1.2
  latest/api_reference/ontopy/ontology/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

:
  ontopy/manchester.py
  tests/testonto/excelparser/fromexcelonto.ttl
  tests/testonto/excelparser/onto.xlsx
Due: update-docs-api-reference, pylint

Added test
  tests/test_manchester.py
Due: none

Fix pylint
  tests/testonto/excelparser/fromexcelonto.ttl
Due: none

Allow for adding prefix in manchester notation. (#469)
  ontopy/manchester.py
  tests/test_manchester.py
  tests/testonto/excelparser/fromexcelonto.ttl
  tests/testonto/excelparser/onto.xlsx
Due: update-docs-api-reference, pylint

Deployed 239dcc0 to latest with MkDocs 1.3.1 and mike 1.1.2
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/api_reference/ontopy/manchester/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Setting prefix explicitly in excelparser
  ontopy/excelparser.py
  tests/testonto/excelparser/catalog-v001.xml
  tests/testonto/excelparser/fromexcelonto.ttl
  tests/testonto/excelparser/imported_onto/catalog-v001.xml
  tests/testonto/excelparser/imported_onto/ontology.ttl
  tests/testonto/excelparser/imported_onto/subontology.ttl
  tests/testonto/excelparser/onto.xlsx
Due: update-docs-api-reference, pylint

Deployed 5825333 to latest with MkDocs 1.4.0 and mike 1.1.2
  latest/404.html
  latest/CHANGELOG/index.html
  latest/LICENSE/index.html
  latest/api_reference/emmopy/emmocheck/index.html
  latest/api_reference/emmopy/emmopy/index.html
  latest/api_reference/ontopy/colortest/index.html
  latest/api_reference/ontopy/excelparser/index.html
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/api_reference/ontopy/factpluspluswrapper/owlapi_interface/index.html
  latest/api_reference/ontopy/factpluspluswrapper/sync_factpp/index.html
  latest/api_reference/ontopy/graph/index.html
  latest/api_reference/ontopy/manchester/index.html
  latest/api_reference/ontopy/nadict/index.html
  latest/api_reference/ontopy/ontodoc/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/api_reference/ontopy/patch/index.html
  latest/api_reference/ontopy/utils/index.html
  latest/demo/horizontal/index.html
  latest/demo/index.html
  latest/demo/vertical/index.html
  latest/developers/release-instructions/index.html
  latest/developers/setup/index.html
  latest/developers/testing/index.html
  latest/docker-instructions/index.html
  latest/examples/emmodoc/classes/index.html
  latest/examples/emmodoc/emmo/index.html
  latest/examples/emmodoc/important_concepts/index.html
  latest/examples/emmodoc/index.html
  latest/examples/emmodoc/introduction/index.html
  latest/examples/emmodoc/relations/index.html
  latest/examples/jupyter-visualization/index.html
  latest/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tools-instructions/index.html
Due: none

Include both `base_iri` and `name` when generating UUID-based IRIs to ensure that generated IRIs in different ontologies will be different.
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Added subontology.ttl to root catalog file in excelparser/
  tests/testonto/excelparser/catalog-v001.xml
  tests/testonto/excelparser/fromexcelonto.ttl
Due: none

Added support for reading catalog for each imported ontology in excel2onto
  ontopy/excelparser.py
  ontopy/ontology.py
  tests/testonto/catalog-v001.xml
Due: update-docs-api-reference, pylint

Bumped version number up to 0.3.3
  ontopy/__init__.py
Due: update-docs-api-reference, pylint

Update from 'EMMO-python' -> 'EMMOntoPy'
  .github/utils/release_tag_msg.txt
  .github/utils/single_dependency_pr_body.txt
  .github/workflows/cd_publish.yml
  Dockerfile
  README.md
  docs/developers/setup.md
  docs/docker-instructions.md
  docs/index.md
  docs/tools-instructions.md
  examples/emmodoc/introduction.md
  examples/jupyter-visualization/README.md
  mkdocs.yml
  setup.py
  tools/ontodoc
Due: update-docs-index, pylint

Reset version number to actual version
  ontopy/__init__.py
Due: update-docs-api-reference, pylint

Use Python 3.8 in CI/CD for pre-commit
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_workflow.yml
Due: none

Deployed 104a8a6 to latest with MkDocs 1.4.0 and mike 1.1.2
  latest/404.html
  latest/CHANGELOG/index.html
  latest/LICENSE/index.html
  latest/api_reference/emmopy/emmocheck/index.html
  latest/api_reference/emmopy/emmopy/index.html
  latest/api_reference/ontopy/colortest/index.html
  latest/api_reference/ontopy/excelparser/index.html
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/api_reference/ontopy/factpluspluswrapper/owlapi_interface/index.html
  latest/api_reference/ontopy/factpluspluswrapper/sync_factpp/index.html
  latest/api_reference/ontopy/graph/index.html
  latest/api_reference/ontopy/manchester/index.html
  latest/api_reference/ontopy/nadict/index.html
  latest/api_reference/ontopy/ontodoc/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/api_reference/ontopy/patch/index.html
  latest/api_reference/ontopy/utils/index.html
  latest/demo/horizontal/index.html
  latest/demo/index.html
  latest/demo/vertical/index.html
  latest/developers/release-instructions/index.html
  latest/developers/setup/index.html
  latest/developers/testing/index.html
  latest/docker-instructions/index.html
  latest/examples/emmodoc/classes/index.html
  latest/examples/emmodoc/emmo/index.html
  latest/examples/emmodoc/important_concepts/index.html
  latest/examples/emmodoc/index.html
  latest/examples/emmodoc/introduction/index.html
  latest/examples/emmodoc/relations/index.html
  latest/examples/jupyter-visualization/index.html
  latest/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tools-instructions/index.html
Due: none
