Repository emmo-repo/EMMOntoPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-docs-api-reference, update-docs-index, pylint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-symlinks
  - id: check-xml
    name: Check XML
    files: \.(xml|rdf|ttl)$
  - id: check-yaml
    name: Check YAML
  - id: destroyed-symlinks
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
    name: Fix requirements*.txt
    files: ^requirements.*\.txt$
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]

- repo: https://github.com/ambv/black
  rev: 21.12b0
  hooks:
  - id: black
    name: Blacken

- repo: https://github.com/PyCQA/bandit
  rev: '1.7.1'
  hooks:
  - id: bandit
    args: [-r]
    exclude: ^tests/.*$

# - repo: https://github.com/pre-commit/mirrors-mypy
#   rev: v0.910
#   hooks:
#   - id: mypy
#     exclude: ^tests/.*$

- repo: local
  hooks:
  - id: update-docs-api-reference
    name: Update API Reference in Documentation
    entry: invoke
    args: [create-api-reference-docs, --pre-clean, --pre-commit]
    language: python
    pass_filenames: false
    files: ^(emmopy|ontopy)/.*\.py$
    description: Update the API Reference documentation, whenever a Python file is touched in the code base.
  - id: update-docs-index
    name: Update Landing Page for Documentation
    entry: invoke
    args: [create-docs-index]
    language: python
    pass_filenames: false
    files: ^README.md$
    description: Update the landing page for the documentation if the source file (README.md) is changed.
  - id: pylint
    name: pylint
    entry: pylint
    language: python
    types: [python]
    require_serial: true
    exclude: ^tests/.*$

Added package specific base exception and base warning for EMMOntoPy (#322)
  ontopy/manchester.py
  ontopy/utils.py
Due: update-docs-api-reference, pylint

Added sconverting Posix to str in get_ontology
  ontopy/ontology.py
  tests/test_load.py
Due: update-docs-api-reference, pylint

Removed erroneously added change
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Removed print in test
  tests/test_load.py
Due: none

Changed base_iri to be pathlib.Path and cast to as_uri
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Added creator instead of author and changed excel2onto arg to --output
  ontopy/excelparser.py
  tools/excel2onto
Due: update-docs-api-reference, pylint

Added sconverting Posix to str in get_ontology (#327)
  ontopy/ontology.py
  tests/test_load.py
Due: update-docs-api-reference, pylint

Deployed 516f047 to latest with MkDocs 1.2.3 and mike 1.1.2
  latest/api_reference/ontopy/ontology/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

Updated excelparser ontology for comparison
  tests/testonto/excelparser/fromexcelonto.ttl
Due: none

Make sure that temporary files are cleaned up
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Make excelparser that converts a filled excel sheet to an ontology (#309)
  docs/api_reference/ontopy/excelparser.md
  examples/ontology-from-excel/make_microstructure_onto.py
  examples/ontology-from-excel/tool/onto.xlsx
  ontopy/excelparser.py
  requirements.txt
  setup.py
  tests/test_excelparser.py
  tests/testonto/excelparser/catalog-v001.xml
  tests/testonto/excelparser/fromexcelonto.ttl
  tests/testonto/excelparser/onto.xlsx
  tools/excel2onto
Due: update-docs-api-reference, pylint

Update mkdocs-material requirement from ~=8.0 to ~=8.1 (#329) (#330)
  requirements_docs.txt
Due: none

A first test with some hacks
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Adding emmo as improted ontology in excelparser if none found.
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

When visualising restrictions, annotate the edges with the restriction type by default.
  ontopy/graph.py
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Corrected parsing cardinality restrictions
  ontopy/manchester.py
Due: update-docs-api-reference, pylint

Fix serialised ontology IRI
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Improve warning and error messages
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Merged master into flb/update-excel-parser-accroding-to-thermodynamics_example
  ontopy/excelparser.py
  requirements_docs.txt
  tests/testonto/excelparser/onto.xlsx
Due: update-docs-api-reference, pylint

Updated the excel parser such that it works well with the latest version of the microstructure ontology
  ontopy/excelparser.py
  ontopy/ontology.py
  tests/test_excelparser.py
  tests/testonto/excelparser/onto.xlsx
  tools/excel2onto
Due: update-docs-api-reference, pylint

Replaced assertment with exception
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Update `pre-commit` hooks
  .pre-commit-config.yaml
Due: none

[Auto-generated] Update dependencies (#338)
  .github/workflows/ci_dependabot.yml
  .pre-commit-config.yaml
  requirements_docs.txt
Due: none

Added force argument to excel2onto, should skip errors
  ontopy/patch.py
  tools/excel2onto
Due: update-docs-api-reference, pylint

Corrected parsing cardinality restrictions (#340)
  ontopy/manchester.py
Due: update-docs-api-reference, pylint

Deployed 0413909 to latest with MkDocs 1.2.3 and mike 1.1.2
  latest/api_reference/ontopy/manchester/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

Make sure that default base_iri is used if it is not provided by the excel file
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

As suggested by Francesca
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Made real microstructure as example for excelparser and moved the test onto.xlsx which should include mistakes that the parser should fix
  examples/ontology-from-excel/make_microstructure_onto.py
  examples/ontology-from-excel/tool/microstructure.xlsx
  examples/ontology-from-excel/tool/onto.xlsx
  tests/testonto/excelparser/onto.xlsx
Due: pylint

Moved option for imported ontologies to separate sheet
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Updated test excel sheet for excelparser
  ontopy/excelparser.py
  tests/test_excelparser.py
  tests/testonto/excelparser/onto.xlsx
Due: update-docs-api-reference, pylint

Added test for validity of concept name before proceeding in loop in excelparser
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

If missing or wrong parents, concepts are defined directly under owlready2.Thing
  ontopy/excelparser.py
  tests/testonto/excelparser/onto.xlsx
Due: update-docs-api-reference, pylint

Added test of concept whos parent is defined later
  tests/test_excelparser.py
  tests/testonto/excelparser/onto.xlsx
Due: none
