Repository emmo-repo/EMMOntoPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-docs-api-reference, update-docs-index, pylint

update-docs-api-reference:
  name: Update API Reference in Documentation
  entry: invoke
  args:
  - create-api-reference-docs
  - --pre-clean
  - --pre-commit
  language: python
  pass_filenames: false
  description: Update the API Reference documentation, whenever a Python file is touched in the code base.

update-docs-index:
  name: Update Landing Page for Documentation
  entry: invoke
  args:
  - create-docs-index
  language: python
  pass_filenames: false
  description: Update the landing page for the documentation if the source file (README.md) is changed.

pylint:
  name: pylint
  entry: pylint
  language: python
  require_serial: true

Deployed 4c231f6 to latest with MkDocs 1.4.0 and mike 1.1.2
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

Release v0.4.0
  CHANGELOG.md
  ontopy/__init__.py
Due: update-docs-api-reference, pylint

Deployed 1425108 to latest with MkDocs 1.4.0 and mike 1.1.2
  latest/CHANGELOG/index.html
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

write catalog now writes relative paths per default, but can use absolute paths as well
  ontopy/utils.py
  tests/catalogs_for_testing/catalog-v001.xml
  tests/catalogs_for_testing/catalog-w-special-name.xml
  tests/test_catalog.py
Due: update-docs-api-reference, pylint

Fixed argumentt to write_catalog in ontology.save
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Updated regex for changing leading and trailing white spaces
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Put excel_parser test in own folder
  ontopy/excelparser.py
  tests/test_excelparser/catalog-v001.xml
  tests/test_excelparser/fromexcelonto.ttl
  tests/test_excelparser/imported_onto/catalog-v001.xml
  tests/test_excelparser/imported_onto/ontology.ttl
  tests/test_excelparser/imported_onto/subontology.ttl
  tests/test_excelparser/onto.xlsx
  tests/test_excelparser/ontology.ttl
  tests/test_excelparser/test_excelparser.py
  tests/testonto/excelparser/catalog-v001.xml
Due: update-docs-api-reference, pylint

print statement removed
  tests/test_catalog.py
Due: none

Removed resetting of mappings key when not changed
  ontopy/utils.py
Due: update-docs-api-reference, pylint

write catalog now writes relative paths as default (#483)
  ontopy/ontology.py
  ontopy/utils.py
  tests/catalogs_for_testing/catalog-v001.xml
  tests/catalogs_for_testing/catalog-w-special-name.xml
  tests/test_catalog.py
Due: update-docs-api-reference, pylint

Deployed ae1d33a to latest with MkDocs 1.4.0 and mike 1.1.2
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/api_reference/ontopy/utils/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Use release/v1 for PyPI release action
  .github/workflows/cd_publish.yml
Due: none

Use SINTEF/ci-cd
  .github/workflows/cd_publish.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_workflow.yml
  docs/api_reference/emmopy/emmocheck.md
  mkdocs.yml
  requirements_docs.txt
Due: none

Run pre-commit
  docs/api_reference/emmopy/emmocheck.md
Due: none

Corrected paths to imports
  ontopy/excelparser.py
  tests/test_excelparser/catalog-v001.xml
  tests/test_excelparser/fromexcelonto.ttl
  tests/test_excelparser/ontology.ttl
  tests/test_load.py
  tests/testonto/catalog-v001.xml
Due: update-docs-api-reference, pylint

Update test workflow
  .github/workflows/ci_workflow.yml
  requirements_dev.txt
Due: none

Finalize workflow updates
  .github/workflows/cd_publish.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_workflow.yml
Due: none

Remove unused task 'setver'
  tasks.py
Due: pylint

Use SINTEF/ci-cd pre-commit hooks
  .pre-commit-config.yaml
  docs/api_reference/.pages
  docs/api_reference/emmopy/.pages
  docs/api_reference/emmopy/emmocheck.md
  docs/api_reference/ontopy/.pages
  docs/api_reference/ontopy/factpluspluswrapper/.pages
  mkdocs.yml
Due: none

Remove invoke tasks and dependency
  requirements_docs.txt
  tasks.py
Due: pylint

General documentation fixes
  README.md
  docs/developers/release-instructions.md
  docs/images/emmc_logo.png
  docs/index.md
  mkdocs.yml
Due: update-docs-index

Remove example pages which are ontodoc templates
  mkdocs.yml
Due: none

Update documentation ToC
  LICENSE.txt
  mkdocs.yml
Due: none

Fix safety options
  .github/workflows/ci_workflow.yml
Due: none

Try to fix pytest CI runs
  tests/tools/conftest.py
  tools/emmocheck
  tools/ontodoc
  tools/ontograph
Due: none

Update graphviz links in landing page/README
  README.md
  docs/index.md
Due: update-docs-index

Only run pytest once in CI
  .github/workflows/ci_workflow.yml
Due: none

Remove comments in CI workflow
  .github/workflows/ci_workflow.yml
Due: none

Try using minimum pandas v1.1 for Py3.6
  requirements.txt
Due: none

Use latest Python3.6-supporting pytest
  requirements_dev.txt
  setup.py
Due: pylint

Update dependencies to minimum Python3.6.15 versions
  requirements_dev.txt
  requirements_docs.txt
Due: none

Include xlrd dependency for Python 3.6
  requirements.txt
Due: none

Better readability in the pre-commit config
  .pre-commit-config.yaml
Due: none

Update EMMC-CSA description in README
  README.md
  docs/index.md
Due: update-docs-index

Remove Python 3.6 support
  .github/workflows/ci_workflow.yml
  README.md
  docs/developers/setup.md
  docs/index.md
  emmopy/__init__.py
  ontopy/__init__.py
  requirements.txt
  requirements_dev.txt
  requirements_docs.txt
  setup.py
Due: update-docs-api-reference, update-docs-index, pylint

Deployed 7920773 to latest with MkDocs 1.4.0 and mike 1.1.2
  latest/404.html
  latest/CHANGELOG/index.html
  latest/LICENSE/index.html
  latest/api_reference/emmopy/emmocheck/index.html
  latest/api_reference/emmopy/emmopy/index.html
  latest/api_reference/ontopy/colortest/index.html
  latest/api_reference/ontopy/excelparser/index.html
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/api_reference/ontopy/factpluspluswrapper/owlapi_interface/index.html
  latest/api_reference/ontopy/factpluspluswrapper/sync_factpp/index.html
  latest/api_reference/ontopy/graph/index.html
  latest/api_reference/ontopy/manchester/index.html
  latest/api_reference/ontopy/nadict/index.html
  latest/api_reference/ontopy/ontodoc/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/api_reference/ontopy/patch/index.html
  latest/api_reference/ontopy/utils/index.html
  latest/assets/_mkdocstrings.css
  latest/demo/horizontal/index.html
  latest/demo/index.html
  latest/demo/vertical/index.html
  latest/developers/release-instructions/index.html
  latest/developers/setup/index.html
  latest/developers/testing/index.html
  latest/docker-instructions/index.html
  latest/examples/emmodoc/classes/index.html
  latest/examples/emmodoc/emmo/index.html
  latest/examples/emmodoc/important_concepts/index.html
  latest/examples/emmodoc/index.html
  latest/examples/emmodoc/introduction/index.html
  latest/examples/emmodoc/relations/index.html
  latest/examples/jupyter-visualization/index.html
  latest/images/emmc_logo.png
  latest/index.html
  latest/objects.inv
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tools-instructions/index.html
Due: none

Setting prefix explicitly in excelparser (#470)
  ontopy/excelparser.py
  ontopy/ontology.py
  tests/test_excelparser/catalog-v001.xml
  tests/test_excelparser/fromexcelonto.ttl
  tests/test_excelparser/imported_onto/catalog-v001.xml
  tests/test_excelparser/imported_onto/ontology.ttl
  tests/test_excelparser/imported_onto/subontology.ttl
  tests/test_excelparser/onto.xlsx
  tests/test_excelparser/test_excelparser.py
  tests/test_load.py
  tests/testonto/excelparser/onto.xlsx
Due: update-docs-api-reference, pylint

Deployed a3e81f0 to latest with MkDocs 1.4.0 and mike 1.1.2
  latest/CHANGELOG/index.html
  latest/api_reference/ontopy/excelparser/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

Update `pre-commit` hooks
  .pre-commit-config.yaml
Due: none

Path conditions:
  update-docs-api-reference: any of: ^(emmopy|ontopy)/.*\.py$
  update-docs-index: any of: ^README.md$
  pylint: any of: \.py$, but not: ^tests/.*$
