Repository emmo-repo/EMMOntoPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-docs-api-reference, update-docs-index, pylint

update-docs-api-reference:
  name: Update API Reference in Documentation
  entry: invoke
  args:
  - create-api-reference-docs
  - --pre-clean
  - --pre-commit
  language: python
  pass_filenames: false
  description: Update the API Reference documentation, whenever a Python file is touched in the code base.

update-docs-index:
  name: Update Landing Page for Documentation
  entry: invoke
  args:
  - create-docs-index
  language: python
  pass_filenames: false
  description: Update the landing page for the documentation if the source file (README.md) is changed.

pylint:
  name: pylint
  entry: pylint
  language: python
  require_serial: true

Added info about returned data from cytoscapegraph
  examples/jupyter-visualization/emmographs.ipynb
  ontopy/graph.py
Due: update-docs-api-reference, pylint

cytoscapegraph fails with missing edge labels (#414)
  examples/jupyter-visualization/emmographs.ipynb
  ontopy/graph.py
Due: update-docs-api-reference, pylint

Deployed 6c168fd to latest with MkDocs 1.3.0 and mike 1.1.2
  latest/api_reference/ontopy/graph/index.html
  latest/examples/jupyter-visualization/emmographs.ipynb
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Updated logo.
  README.md
  docs/images/emmontopy-logo.png
  docs/images/emmontopy-logo.svg
Due: update-docs-index

Updated logo in docs as well
  docs/index.md
Due: none

Fixed typo
  README.md
  docs/index.md
Due: update-docs-index

Also updated logo in mkdocs
  mkdocs.yml
Due: none

Updated logo. (#418)
  README.md
  docs/images/emmontopy-logo.png
  docs/images/emmontopy-logo.svg
  docs/index.md
  mkdocs.yml
Due: update-docs-index

Fix configuration for new python docs parser
  mkdocs.yml
Due: none

Fix value in config
  mkdocs.yml
Due: none

Temporarily ignore safety issue for RDFLib
  .github/workflows/ci_workflow.yml
Due: none

Fix pylint issues
  .github/workflows/ci_workflow.yml
  emmopy/emmocheck.py
  ontopy/ontology.py
  ontopy/patch.py
  pyproject.toml
Due: update-docs-api-reference, pylint

Update `pre-commit` hooks
  .pre-commit-config.yaml
Due: none

Deployed b8e2d10 to latest with MkDocs 1.3.0 and mike 1.1.2
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Deployed 6974fcc to latest with MkDocs 1.3.0 and mike 1.1.2
  latest/404.html
  latest/CHANGELOG/index.html
  latest/LICENSE/index.html
  latest/api_reference/emmopy/emmocheck/index.html
  latest/api_reference/emmopy/emmopy/index.html
  latest/api_reference/ontopy/colortest/index.html
  latest/api_reference/ontopy/excelparser/index.html
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/api_reference/ontopy/factpluspluswrapper/owlapi_interface/index.html
  latest/api_reference/ontopy/factpluspluswrapper/sync_factpp/index.html
  latest/api_reference/ontopy/graph/index.html
  latest/api_reference/ontopy/manchester/index.html
  latest/api_reference/ontopy/nadict/index.html
  latest/api_reference/ontopy/ontodoc/index.html
  latest/api_reference/ontopy/ontograph/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/api_reference/ontopy/patch/index.html
  latest/api_reference/ontopy/utils/index.html
  latest/assets/javascripts/bundle.0238f547.min.js
  latest/assets/javascripts/bundle.0238f547.min.js.map
  latest/assets/javascripts/bundle.6c7ad80a.min.js
  latest/assets/javascripts/bundle.6c7ad80a.min.js.map
  latest/demo/horizontal/index.html
  latest/demo/index.html
  latest/demo/vertical/index.html
  latest/developers/release-instructions/index.html
  latest/developers/setup/index.html
  latest/developers/testing/index.html
  latest/docker-instructions/index.html
  latest/examples/emmodoc/classes/index.html
  latest/examples/emmodoc/emmo/index.html
  latest/examples/emmodoc/important_concepts/index.html
  latest/examples/emmodoc/index.html
  latest/examples/emmodoc/introduction/index.html
  latest/examples/emmodoc/relations/index.html
  latest/examples/jupyter-visualization/index.html
  latest/index.html
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tools-instructions/index.html
Due: none

Added URL to the message of HTTPError exceptions when loading an ontology
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Improved implementation of more verbose error messages
  ontopy/ontology.py
  ontopy/utils.py
Due: update-docs-api-reference, pylint

Silence false negative from pylint on github
  ontopy/factpluspluswrapper/factppgraph.py
  ontopy/factpluspluswrapper/sync_factpp.py
Due: update-docs-api-reference, pylint

Initial fixes
  demo/horizontal/emmo2meta.py
  demo/horizontal/step1_generate_metadata.py
Due: pylint

Placed the pylint disable comment on correct line
  ontopy/factpluspluswrapper/sync_factpp.py
Due: update-docs-api-reference, pylint

Updated emmo2meta.py to match changes in EMMO. Support for value restrictions must be added...
  demo/horizontal/emmo2meta.py
Due: pylint

Deployed 7d11160 to latest with MkDocs 1.3.1 and mike 1.1.2
  latest/404.html
  latest/CHANGELOG/index.html
  latest/LICENSE/index.html
  latest/api_reference/emmopy/emmocheck/index.html
  latest/api_reference/emmopy/emmopy/index.html
  latest/api_reference/ontopy/colortest/index.html
  latest/api_reference/ontopy/excelparser/index.html
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/api_reference/ontopy/factpluspluswrapper/owlapi_interface/index.html
  latest/api_reference/ontopy/factpluspluswrapper/sync_factpp/index.html
  latest/api_reference/ontopy/graph/index.html
  latest/api_reference/ontopy/manchester/index.html
  latest/api_reference/ontopy/nadict/index.html
  latest/api_reference/ontopy/ontodoc/index.html
  latest/api_reference/ontopy/ontograph/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/api_reference/ontopy/patch/index.html
  latest/api_reference/ontopy/utils/index.html
  latest/demo/horizontal/index.html
  latest/demo/index.html
  latest/demo/vertical/index.html
  latest/developers/release-instructions/index.html
  latest/developers/setup/index.html
  latest/developers/testing/index.html
  latest/docker-instructions/index.html
  latest/examples/emmodoc/classes/index.html
  latest/examples/emmodoc/emmo/index.html
  latest/examples/emmodoc/important_concepts/index.html
  latest/examples/emmodoc/index.html
  latest/examples/emmodoc/introduction/index.html
  latest/examples/emmodoc/relations/index.html
  latest/examples/jupyter-visualization/index.html
  latest/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tools-instructions/index.html
Due: none

Update demo (#437)
  demo/horizontal/emmo2meta.py
  demo/horizontal/step1_generate_metadata.py
Due: pylint

Deployed abbdb8e to latest with MkDocs 1.3.1 and mike 1.1.2
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/demo/horizontal/emmo2meta.py
  latest/demo/horizontal/step1_generate_metadata.py
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: pylint

Deployed f79c1af to latest with MkDocs 1.3.1 and mike 1.1.2
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Strip leading and trailing white spaces in path to imported ontologies in excelparser
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Added comment
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Flb/issue421 (#438)
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Deployed c6b7e53 to latest with MkDocs 1.3.1 and mike 1.1.2
  latest/api_reference/ontopy/excelparser/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

Use prefix as arguemnt instead of namespace in get_by_label
  ontopy/ontology.py
  tests/testonto/testonto.ttl
Due: update-docs-api-reference, pylint

Updated documentation with prefix for get_by_label
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Added automatic detection of prefix for the loaded ontology and tests
  ontopy/ontology.py
  tests/ontopy/test_prefix.py
Due: update-docs-api-reference, pylint

Corrected to that prefix actually cahcek for the prefix of the ontology where the entity is from and not the name of the namespace as given in owldreay2
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Added support for get_by_label('prefix:entity')
  emmopy/emmopy.py
  ontopy/ontology.py
  tests/ontopy/test_prefix.py
Due: update-docs-api-reference, pylint

Added test
  tests/test_load.py
Due: none

Corrected import of HTTPError
  tests/test_load.py
Due: none

Path conditions:
  update-docs-api-reference: any of: ^(emmopy|ontopy)/.*\.py$
  update-docs-index: any of: ^README.md$
  pylint: any of: \.py$, but not: ^tests/.*$
