Repository emmo-repo/EMMOntoPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-docs-api-reference, update-docs-index, pylint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-symlinks
  - id: check-xml
    name: Check XML
    files: \.(xml|rdf|ttl)$
  - id: check-yaml
    name: Check YAML
  - id: destroyed-symlinks
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
    name: Fix requirements*.txt
    files: ^requirements.*\.txt$
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]

- repo: https://github.com/ambv/black
  rev: 21.12b0
  hooks:
  - id: black
    name: Blacken

- repo: https://github.com/PyCQA/bandit
  rev: '1.7.1'
  hooks:
  - id: bandit
    args: [-r]
    exclude: ^tests/.*$

# - repo: https://github.com/pre-commit/mirrors-mypy
#   rev: v0.910
#   hooks:
#   - id: mypy
#     exclude: ^tests/.*$

- repo: local
  hooks:
  - id: update-docs-api-reference
    name: Update API Reference in Documentation
    entry: invoke
    args: [create-api-reference-docs, --pre-clean, --pre-commit]
    language: python
    pass_filenames: false
    files: ^(emmopy|ontopy)/.*\.py$
    description: Update the API Reference documentation, whenever a Python file is touched in the code base.
  - id: update-docs-index
    name: Update Landing Page for Documentation
    entry: invoke
    args: [create-docs-index]
    language: python
    pass_filenames: false
    files: ^README.md$
    description: Update the landing page for the documentation if the source file (README.md) is changed.
  - id: pylint
    name: pylint
    entry: pylint
    language: python
    types: [python]
    require_serial: true
    exclude: ^tests/.*$

fixing differences
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

dealing with pre-commit
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Update ontopy/excelparser.py
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Avoided infinite recursion when loading catalog files that recursively refer to each other.
  ontopy/utils.py
Due: update-docs-api-reference, pylint

Deployed ff951b4 to latest with MkDocs 1.2.3 and mike 1.1.2
  latest/api_reference/ontopy/ontology/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Use `ID!` type instead of `String!`
  .github/workflows/ci_automerge_dependabot.yml
Due: none

Use `ID!` type instead of `String!` (#375)
  .github/workflows/ci_automerge_dependabot.yml
Due: none

Deployed e36eab6 to latest with MkDocs 1.2.3 and mike 1.1.2
  latest/404.html
  latest/CHANGELOG/index.html
  latest/LICENSE/index.html
  latest/api_reference/emmopy/emmocheck/index.html
  latest/api_reference/emmopy/emmopy/index.html
  latest/api_reference/ontopy/colortest/index.html
  latest/api_reference/ontopy/excelparser/index.html
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/api_reference/ontopy/factpluspluswrapper/owlapi_interface/index.html
  latest/api_reference/ontopy/factpluspluswrapper/sync_factpp/index.html
  latest/api_reference/ontopy/graph/index.html
  latest/api_reference/ontopy/manchester/index.html
  latest/api_reference/ontopy/nadict/index.html
  latest/api_reference/ontopy/ontodoc/index.html
  latest/api_reference/ontopy/ontograph/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/api_reference/ontopy/patch/index.html
  latest/api_reference/ontopy/utils/index.html
  latest/assets/javascripts/bundle.8aa65030.min.js
  latest/assets/javascripts/bundle.8aa65030.min.js.map
  latest/assets/javascripts/bundle.b88e97c5.min.js
  latest/assets/javascripts/bundle.b88e97c5.min.js.map
  latest/demo/horizontal/index.html
  latest/demo/index.html
  latest/demo/vertical/index.html
  latest/developers/release-instructions/index.html
  latest/developers/setup/index.html
  latest/developers/testing/index.html
  latest/docker-instructions/index.html
  latest/examples/emmodoc/classes/index.html
  latest/examples/emmodoc/emmo/index.html
  latest/examples/emmodoc/important_concepts/index.html
  latest/examples/emmodoc/index.html
  latest/examples/emmodoc/introduction/index.html
  latest/examples/emmodoc/relations/index.html
  latest/examples/jupyter-visualization/index.html
  latest/index.html
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tools-instructions/index.html
Due: none

Update `pre-commit` hooks
  .pre-commit-config.yaml
Due: none

Deployed 6670b39 to latest with MkDocs 1.2.3 and mike 1.1.2
  latest/api_reference/ontopy/excelparser/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

Avoided infinite recursion when loading catalog files that recursively (#370)
  ontopy/utils.py
Due: update-docs-api-reference, pylint

Deployed f23cfcf to latest with MkDocs 1.2.3 and mike 1.1.2
  latest/api_reference/ontopy/utils/index.html
  latest/objects.inv
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

Release v0.2.0
  CHANGELOG.md
  ontopy/__init__.py
Due: update-docs-api-reference, pylint

Deployed d2ba2a9 to latest with MkDocs 1.2.3 and mike 1.1.2
  latest/CHANGELOG/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

Deployed 569dd67 to latest with MkDocs 1.2.3 and mike 1.1.2
  latest/404.html
  latest/CHANGELOG/index.html
  latest/LICENSE/index.html
  latest/api_reference/emmopy/emmocheck/index.html
  latest/api_reference/emmopy/emmopy/index.html
  latest/api_reference/ontopy/colortest/index.html
  latest/api_reference/ontopy/excelparser/index.html
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/api_reference/ontopy/factpluspluswrapper/owlapi_interface/index.html
  latest/api_reference/ontopy/factpluspluswrapper/sync_factpp/index.html
  latest/api_reference/ontopy/graph/index.html
  latest/api_reference/ontopy/manchester/index.html
  latest/api_reference/ontopy/nadict/index.html
  latest/api_reference/ontopy/ontodoc/index.html
  latest/api_reference/ontopy/ontograph/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/api_reference/ontopy/patch/index.html
  latest/api_reference/ontopy/utils/index.html
  latest/assets/javascripts/bundle.467223ff.min.js
  latest/assets/javascripts/bundle.467223ff.min.js.map
  latest/assets/javascripts/bundle.5413a266.min.js
  latest/assets/javascripts/bundle.5413a266.min.js.map
  latest/demo/horizontal/index.html
  latest/demo/index.html
  latest/demo/vertical/index.html
  latest/developers/release-instructions/index.html
  latest/developers/setup/index.html
  latest/developers/testing/index.html
  latest/docker-instructions/index.html
  latest/examples/emmodoc/classes/index.html
  latest/examples/emmodoc/emmo/index.html
  latest/examples/emmodoc/important_concepts/index.html
  latest/examples/emmodoc/index.html
  latest/examples/emmodoc/introduction/index.html
  latest/examples/emmodoc/relations/index.html
  latest/examples/jupyter-visualization/index.html
  latest/index.html
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tools-instructions/index.html
Due: none

Update TEAM4.0 email address
  .github/workflows/cd_publish.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_workflow.yml
Due: none

Import emmo using keyword instead of full IRI
  tests/test_modules.py
Due: none

Workaround for failing test (#385)
  .github/workflows/cd_publish.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_workflow.yml
  tests/test_modules.py
Due: none

Download EMMO from raw.github deirectly as redirection is broken
  demo/vertical/define_ontology.py
Due: pylint

Pylint fix
  demo/vertical/define_ontology.py
Due: pylint

Download EMMO from raw.github directly as redirection is broken (#392)
  demo/vertical/define_ontology.py
Due: pylint

Deployed dcfc540 to latest with MkDocs 1.3.0 and mike 1.1.2
  latest/demo/vertical/define_ontology.py
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: pylint

Deployed 7d66edb to latest with MkDocs 1.3.0 and mike 1.1.2
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Merge conflict
  demo/vertical/define_ontology.py
  requirements_dev.txt
Due: pylint

Added returning errors in excelparser
  ontopy/excelparser.py
  tests/test_excelparser.py
Due: update-docs-api-reference, pylint

Added test to check that all concpets thata are defined in the pwrong manner are listed in the error dictionary returned
  ontopy/excelparser.py
  tests/test_excelparser.py
  tests/testonto/excelparser/onto.xlsx
Due: update-docs-api-reference, pylint

Removed print statement
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Documented new output from excelparser
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Changed getting all entities to use get_entities instead of get_by_label_all('*')
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

create_from_excel/pandas return as list of concepts that are worngly defined in the excelfile (#396)
  ontopy/excelparser.py
  tests/test_excelparser.py
  tests/testonto/excelparser/onto.xlsx
Due: update-docs-api-reference, pylint

Deployed 5d2971f to latest with MkDocs 1.3.0 and mike 1.1.2
  latest/api_reference/ontopy/excelparser/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

started implementation - in a non-working state
  ontopy/utils.py
  tools/ontoconvert
Due: update-docs-api-reference, pylint
