Repository emmo-repo/EMMOntoPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-docs-api-reference, update-docs-index, pylint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-symlinks
  - id: check-xml
    name: Check XML
    files: \.(xml|rdf|ttl)$
  - id: check-yaml
    name: Check YAML
  - id: destroyed-symlinks
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
    name: Fix requirements*.txt
    files: ^requirements.*\.txt$
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]

- repo: https://github.com/ambv/black
  rev: 22.8.0
  hooks:
  - id: black
    name: Blacken

- repo: https://github.com/PyCQA/bandit
  rev: '1.7.4'
  hooks:
  - id: bandit
    args: [-r]
    exclude: ^tests/.*$

# - repo: https://github.com/pre-commit/mirrors-mypy
#   rev: v0.910
#   hooks:
#   - id: mypy
#     exclude: ^tests/.*$

- repo: local
  hooks:
  - id: update-docs-api-reference
    name: Update API Reference in Documentation
    entry: invoke
    args: [create-api-reference-docs, --pre-clean, --pre-commit]
    language: python
    pass_filenames: false
    files: ^(emmopy|ontopy)/.*\.py$
    description: Update the API Reference documentation, whenever a Python file is touched in the code base.
  - id: update-docs-index
    name: Update Landing Page for Documentation
    entry: invoke
    args: [create-docs-index]
    language: python
    pass_filenames: false
    files: ^README.md$
    description: Update the landing page for the documentation if the source file (README.md) is changed.
  - id: pylint
    name: pylint
    entry: pylint
    language: python
    types: [python]
    require_serial: true
    exclude: ^tests/.*$

Deployed 39601ef to latest with MkDocs 1.4.0 and mike 1.1.2
  latest/CHANGELOG/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Update `pre-commit` hooks
  .pre-commit-config.yaml
Due: none

Deployed 9db3913 to latest with MkDocs 1.4.1 and mike 1.1.2
  latest/404.html
  latest/CHANGELOG/index.html
  latest/LICENSE/index.html
  latest/api_reference/emmopy/emmocheck/index.html
  latest/api_reference/emmopy/emmopy/index.html
  latest/api_reference/ontopy/colortest/index.html
  latest/api_reference/ontopy/excelparser/index.html
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/api_reference/ontopy/factpluspluswrapper/owlapi_interface/index.html
  latest/api_reference/ontopy/factpluspluswrapper/sync_factpp/index.html
  latest/api_reference/ontopy/graph/index.html
  latest/api_reference/ontopy/manchester/index.html
  latest/api_reference/ontopy/nadict/index.html
  latest/api_reference/ontopy/ontodoc/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/api_reference/ontopy/patch/index.html
  latest/api_reference/ontopy/utils/index.html
  latest/demo/horizontal/index.html
  latest/demo/index.html
  latest/demo/vertical/index.html
  latest/developers/release-instructions/index.html
  latest/developers/setup/index.html
  latest/developers/testing/index.html
  latest/docker-instructions/index.html
  latest/examples/emmodoc/classes/index.html
  latest/examples/emmodoc/emmo/index.html
  latest/examples/emmodoc/important_concepts/index.html
  latest/examples/emmodoc/index.html
  latest/examples/emmodoc/introduction/index.html
  latest/examples/emmodoc/relations/index.html
  latest/examples/jupyter-visualization/index.html
  latest/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tools-instructions/index.html
Due: none

Tried fixing failing test on Windows
  ontopy/factpluspluswrapper/owlapi_interface.py
Due: update-docs-api-reference, pylint

Updated logo
  docs/images/emmontopy-logo.png
  docs/images/emmontopy-logo.svg
  docs/images/material.png
Due: none

Updated logo (#494)
  docs/images/emmontopy-logo.png
  docs/images/emmontopy-logo.svg
  docs/images/material.png
Due: none

Added correct material.png figure in tool-instruction and format requirement
  docs/tools-instructions.md
  material.pdf
Due: none

material.pdf changed to material.png in right location
  docs/images/material.png
  material.pdf
Due: none

updated image again
  docs/images/material.png
Due: none

Added correct material.png figure in tool-instructions (#498)
  docs/images/material.png
  docs/tools-instructions.md
Due: none

Deployed e2b276d to latest with MkDocs 1.4.1 and mike 1.1.2
  latest/CHANGELOG/index.html
  latest/images/material.png
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tools-instructions/index.html
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Corrected so that get_by_label_all also returns all before sync_attributes
  ontopy/ontology.py
  tests/test_basic.py
Due: update-docs-api-reference, pylint

Removed print statements
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Changed variable_name
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

get_by_label_all works without sync_attributes
  ontopy/ontology.py
  tests/test_basic.py
Due: update-docs-api-reference, pylint

Deployed c414377 to latest with MkDocs 1.4.2 and mike 1.1.2
  latest/CHANGELOG/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

New concepts allowed even if name alrady exists in imported ontologies
  ontopy/excelparser.py
  tests/test_excelparser/fromexcelonto.ttl
  tests/test_excelparser/onto.xlsx
  tests/test_excelparser/test_excelparser.py
Due: update-docs-api-reference, pylint

Updated docstring
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Changed to check if that specific enity exists, not that the is starts with a given base_iri
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

New concepts allowed even if name alrady exists in imported ontologies (#504)
  ontopy/excelparser.py
  tests/test_excelparser/fromexcelonto.ttl
  tests/test_excelparser/onto.xlsx
  tests/test_excelparser/test_excelparser.py
Due: update-docs-api-reference, pylint

Deployed 5b38254 to latest with MkDocs 1.4.2 and mike 1.1.2
  latest/CHANGELOG/index.html
  latest/api_reference/ontopy/excelparser/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Catch TypeError if `is_instance_of` is not iterable
  ontopy/ontodoc.py
Due: update-docs-api-reference, pylint

Do not trigger an emmocheck failure for ontologies that defines their a logo with foaf:logo.
  emmopy/emmocheck.py
Due: update-docs-api-reference, pylint

Try to increase minimum required version of packaging to 21.3
  requirements.txt
Due: none

Try to add dev requirements on setuptools to get rid of ImportError for packaging.version.LegacyVersion
  requirements.txt
  requirements_dev.txt
Due: none

Removed dev requirement for setuptools
  requirements_dev.txt
Due: none

Added fix for adding annotations that are not strings in ontodoc
  ontopy/ontodoc.py
  tests/ontopy_tests/test_prefix.py
  tests/testonto/models.ttl
  tests/tools/test_ontodoc.py
Due: update-docs-api-reference, pylint

Removed LegacyVersion from ontopy.utils
  ontopy/utils.py
Due: update-docs-api-reference, pylint

Fixed typo in requirements
  requirements.txt
Due: none

Update ontopy/utils.py
  ontopy/utils.py
Due: update-docs-api-reference, pylint

Moved import of packaging out ot function
  ontopy/utils.py
Due: update-docs-api-reference, pylint

Removed LegacyVersion from ontopy.utils (#515)
  ontopy/utils.py
  requirements.txt
Due: update-docs-api-reference, pylint

Typo
  README.md
  docs/index.md
Due: update-docs-index

Do not trigger an emmocheck failure for ontologies with a foaf:logo annotation (#509)
  README.md
  docs/index.md
  emmopy/emmocheck.py
Due: update-docs-api-reference, update-docs-index, pylint
