Repository emmo-repo/EMMOntoPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-docs-api-reference, update-docs-index, pylint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-symlinks
  - id: check-xml
    name: Check XML
    files: \.(xml|rdf|ttl)$
  - id: check-yaml
    name: Check YAML
  - id: destroyed-symlinks
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
    name: Fix requirements*.txt
    files: ^requirements.*\.txt$
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]

- repo: https://github.com/ambv/black
  rev: 22.8.0
  hooks:
  - id: black
    name: Blacken

- repo: https://github.com/PyCQA/bandit
  rev: '1.7.4'
  hooks:
  - id: bandit
    args: [-r]
    exclude: ^tests/.*$

# - repo: https://github.com/pre-commit/mirrors-mypy
#   rev: v0.910
#   hooks:
#   - id: mypy
#     exclude: ^tests/.*$

- repo: local
  hooks:
  - id: update-docs-api-reference
    name: Update API Reference in Documentation
    entry: invoke
    args: [create-api-reference-docs, --pre-clean, --pre-commit]
    language: python
    pass_filenames: false
    files: ^(emmopy|ontopy)/.*\.py$
    description: Update the API Reference documentation, whenever a Python file is touched in the code base.
  - id: update-docs-index
    name: Update Landing Page for Documentation
    entry: invoke
    args: [create-docs-index]
    language: python
    pass_filenames: false
    files: ^README.md$
    description: Update the landing page for the documentation if the source file (README.md) is changed.
  - id: pylint
    name: pylint
    entry: pylint
    language: python
    types: [python]
    require_serial: true
    exclude: ^tests/.*$

Satisfy pylint with longer variable names
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Added test for `colon_in_label` argument of get_by_label()
  ontopy/ontology.py
  tests/test_get_by_label.py
Due: update-docs-api-reference, pylint

Deployed 7de0927 to latest with MkDocs 1.4.2 and mike 1.1.2
  latest/CHANGELOG/index.html
  latest/api_reference/ontopy/excelparser/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/objects.inv
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Removed 3DPrinting from exceptions, since it is not in EMMO any more
  emmopy/emmocheck.py
Due: update-docs-api-reference, pylint

Update `pre-commit` hooks
  .pre-commit-config.yaml
Due: none

Deployed b8e2c63 to latest with MkDocs 1.4.2 and mike 1.1.2
  latest/404.html
  latest/CHANGELOG/index.html
  latest/LICENSE/index.html
  latest/api_reference/emmopy/emmocheck/index.html
  latest/api_reference/emmopy/emmopy/index.html
  latest/api_reference/ontopy/colortest/index.html
  latest/api_reference/ontopy/excelparser/index.html
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/api_reference/ontopy/factpluspluswrapper/owlapi_interface/index.html
  latest/api_reference/ontopy/factpluspluswrapper/sync_factpp/index.html
  latest/api_reference/ontopy/graph/index.html
  latest/api_reference/ontopy/manchester/index.html
  latest/api_reference/ontopy/nadict/index.html
  latest/api_reference/ontopy/ontodoc/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/api_reference/ontopy/patch/index.html
  latest/api_reference/ontopy/utils/index.html
  latest/demo/horizontal/index.html
  latest/demo/index.html
  latest/demo/vertical/index.html
  latest/developers/release-instructions/index.html
  latest/developers/setup/index.html
  latest/developers/testing/index.html
  latest/docker-instructions/index.html
  latest/examples/emmodoc/classes/index.html
  latest/examples/emmodoc/emmo/index.html
  latest/examples/emmodoc/important_concepts/index.html
  latest/examples/emmodoc/index.html
  latest/examples/emmodoc/introduction/index.html
  latest/examples/emmodoc/relations/index.html
  latest/examples/jupyter-visualization/index.html
  latest/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tools-instructions/index.html
Due: none

Added link to excelparser from tools for documentation of excel sheet.
  docs/tools-instructions.md
Due: none

typos
  docs/tools-instructions.md
Due: none

Deployed c1137b7 to latest with MkDocs 1.4.2 and mike 1.1.2
  latest/CHANGELOG/index.html
  latest/api_reference/emmopy/emmocheck/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Deployed aefae16 to latest with MkDocs 1.4.2 and mike 1.1.2
  latest/404.html
  latest/CHANGELOG/index.html
  latest/LICENSE/index.html
  latest/api_reference/emmopy/emmocheck/index.html
  latest/api_reference/emmopy/emmopy/index.html
  latest/api_reference/ontopy/colortest/index.html
  latest/api_reference/ontopy/excelparser/index.html
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/api_reference/ontopy/factpluspluswrapper/owlapi_interface/index.html
  latest/api_reference/ontopy/factpluspluswrapper/sync_factpp/index.html
  latest/api_reference/ontopy/graph/index.html
  latest/api_reference/ontopy/manchester/index.html
  latest/api_reference/ontopy/nadict/index.html
  latest/api_reference/ontopy/ontodoc/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/api_reference/ontopy/patch/index.html
  latest/api_reference/ontopy/utils/index.html
  latest/demo/horizontal/index.html
  latest/demo/index.html
  latest/demo/vertical/index.html
  latest/developers/release-instructions/index.html
  latest/developers/setup/index.html
  latest/developers/testing/index.html
  latest/docker-instructions/index.html
  latest/examples/emmodoc/classes/index.html
  latest/examples/emmodoc/emmo/index.html
  latest/examples/emmodoc/important_concepts/index.html
  latest/examples/emmodoc/index.html
  latest/examples/emmodoc/introduction/index.html
  latest/examples/emmodoc/relations/index.html
  latest/examples/jupyter-visualization/index.html
  latest/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tools-instructions/index.html
Due: none

Changed `is_defined` into a ThingClass property and improved its documentation.
  ontopy/ontology.py
  ontopy/patch.py
  tests/test_ontopy.py
Due: update-docs-api-reference, pylint

Added test update to PR template.
  .github/pull_request_template.md
Due: none

Removed a deprecation warning interfering with test_graph.py
  ontopy/graph.py
Due: update-docs-api-reference, pylint

Fixed typo
  ontopy/patch.py
Due: update-docs-api-reference, pylint

Compare sets instead of sorted lists...
  tests/test_ontopy.py
Due: none

Added test as required by reviewer
  ontopy/graph.py
  ontopy/ontology.py
  tests/ontopy_tests/test_graph.py
Due: update-docs-api-reference, pylint

Add links to the original FaCT++ repo, GitHub profiles, and original authors' affiliation
  ontopy/factpluspluswrapper/README.md
Due: none

Renamed test to test_patch.py and updated the title
  ontopy/patch.py
  tests/ontopy_tests/test_patch.py
Due: update-docs-api-reference, pylint

Deployed ec74440 to latest with MkDocs 1.4.3 and mike 1.1.2
  latest/CHANGELOG/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

Deployed 7b1c9c4 to latest with MkDocs 1.4.3 and mike 1.1.2
  latest/CHANGELOG/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Deployed 19ccb06 to latest with MkDocs 1.4.3 and mike 1.1.2
  latest/CHANGELOG/index.html
  latest/api_reference/ontopy/graph/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/api_reference/ontopy/patch/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

Deployed 6c70491 to latest with MkDocs 1.4.3 and mike 1.1.2
  latest/sitemap.xml.gz
Due: none

Deployed b85be7b to latest with MkDocs 1.4.3 and mike 1.1.2
  latest/CHANGELOG/index.html
  latest/api_reference/ontopy/graph/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Release v0.5.2 - Changelog
  CHANGELOG.md
  ontopy/__init__.py
Due: update-docs-api-reference, pylint

Deployed 518518b to latest with MkDocs 1.4.3 and mike 1.1.2
  latest/404.html
  latest/CHANGELOG/index.html
  latest/LICENSE/index.html
  latest/api_reference/emmopy/emmocheck/index.html
  latest/api_reference/emmopy/emmopy/index.html
  latest/api_reference/ontopy/colortest/index.html
  latest/api_reference/ontopy/excelparser/index.html
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/api_reference/ontopy/factpluspluswrapper/owlapi_interface/index.html
  latest/api_reference/ontopy/factpluspluswrapper/sync_factpp/index.html
  latest/api_reference/ontopy/graph/index.html
  latest/api_reference/ontopy/manchester/index.html
  latest/api_reference/ontopy/nadict/index.html
  latest/api_reference/ontopy/ontodoc/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/api_reference/ontopy/patch/index.html
  latest/api_reference/ontopy/utils/index.html
  latest/assets/javascripts/bundle.b4d07000.min.js
  latest/assets/javascripts/bundle.b4d07000.min.js.map
  latest/assets/javascripts/bundle.fac441b0.min.js
  latest/assets/javascripts/bundle.fac441b0.min.js.map
  latest/demo/horizontal/index.html
  latest/demo/index.html
  latest/demo/vertical/index.html
  latest/developers/release-instructions/index.html
  latest/developers/setup/index.html
  latest/developers/testing/index.html
  latest/docker-instructions/index.html
  latest/examples/emmodoc/classes/index.html
  latest/examples/emmodoc/emmo/index.html
  latest/examples/emmodoc/important_concepts/index.html
  latest/examples/emmodoc/index.html
  latest/examples/emmodoc/introduction/index.html
  latest/examples/emmodoc/relations/index.html
  latest/examples/jupyter-visualization/index.html
  latest/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tools-instructions/index.html
Due: none

Added DOI badge
  README.md
  docs/index.md
Due: update-docs-index

Deployed 3190138 to latest with MkDocs 1.4.3 and mike 1.1.2
  latest/CHANGELOG/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Deployed 6fa3427 to latest with MkDocs 1.4.3 and mike 1.1.2
  latest/CHANGELOG/index.html
  latest/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

Some sketching
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Changed add entity to not only include classes.
  ontopy/ontology.py
  ontopy/utils.py
  tests/ontopy_tests/test_new_entity.py
  tests/ontopy_tests/test_prefix.py
  tests/test_basic.py
  tests/testonto/testonto.ttl
Due: update-docs-api-reference, pylint

Iproved description
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Corrected docstring
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Added some checks required by codecod
  ontopy/utils.py
  tests/ontopy_tests/test_new_entity.py
Due: update-docs-api-reference, pylint

More infomrative info on allowed entitytypes
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Update ontopy/utils.py
  ontopy/utils.py
Due: update-docs-api-reference, pylint

Moved add_concepts out to own helper method
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint
