Repository emmo-repo/EMMOntoPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-docs-api-reference, update-docs-index, pylint

update-docs-api-reference:
  name: Update API Reference in Documentation
  entry: invoke
  args:
  - create-api-reference-docs
  - --pre-clean
  - --pre-commit
  language: python
  pass_filenames: false
  description: Update the API Reference documentation, whenever a Python file is touched in the code base.

update-docs-index:
  name: Update Landing Page for Documentation
  entry: invoke
  args:
  - create-docs-index
  language: python
  pass_filenames: false
  description: Update the landing page for the documentation if the source file (README.md) is changed.

pylint:
  name: pylint
  entry: pylint
  language: python
  require_serial: true

Work in progress: fixing not-yet-defined-parent
  ontopy/excelparser.py
  tests/testonto/excelparser/onto.xlsx
Due: update-docs-api-reference, pylint

Fixed not yet defined parents
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Changed all data in conceptata to strings If force: add elucidation as rdfs.comment, add altLAbel as rdfs.label, add example as rdfs.comment
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Values converted to sring 'nan' are not considered when adding literal
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Added som test for invalid parent
  tests/testonto/excelparser/onto.xlsx
Due: none

updated test for excelparser
  ontopy/excelparser.py
  tests/test_excelparser.py
  tests/testonto/excelparser/fromexcelonto.ttl
Due: update-docs-api-reference, pylint

Removed print
  ontopy/patch.py
Due: update-docs-api-reference, pylint

parent_name written out correctly in error msg
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Deployed 154dca8 to latest with MkDocs 1.2.3 and mike 1.1.2
  latest/api_reference/ontopy/graph/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Deployed 8d22f1a to latest with MkDocs 1.2.3 and mike 1.1.2
  latest/api_reference/ontopy/excelparser/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

Fixed some pylit issues that resurfaced pon mergin in master
  ontopy/excelparser.py
  tools/ontoversion
Due: update-docs-api-reference, pylint

Fixes, mostly documentation after review.
  ontopy/excelparser.py
  tests/test_excelparser.py
  tools/excel2onto
Due: update-docs-api-reference, pylint

Fix doc-string indent
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Very minor string fix.
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Minor doc-string prettification
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

f-String corrections
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Updated excelparser and excel2onto (#336)
  examples/ontology-from-excel/make_microstructure_onto.py
  examples/ontology-from-excel/tool/microstructure.xlsx
  ontopy/excelparser.py
  ontopy/ontology.py
  tests/test_excelparser.py
  tests/testonto/excelparser/fromexcelonto.ttl
  tests/testonto/excelparser/onto.xlsx
  tools/excel2onto
  tools/ontoversion
Due: update-docs-api-reference, pylint

Deployed 2964d0f to latest with MkDocs 1.2.3 and mike 1.1.2
  latest/api_reference/ontopy/excelparser/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/examples/ontology-from-excel/make_microstructure_onto.py
  latest/examples/ontology-from-excel/tool/microstructure.xlsx
  latest/objects.inv
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: pylint

[Auto-generated] Update GH Actions (#349)
  .github/workflows/ci_dependabot.yml
Due: none

Changed arguments in _has_obj_triple_spo
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Ontology inherits from OntoGraph again, was removed by mistake
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Changed arguments in _has_obj_triples_spo (#351)
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Deployed 9ce1d0c to latest with MkDocs 1.2.3 and mike 1.1.2
  latest/api_reference/ontopy/ontology/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Use RELEASE_PAT secret and @TEAM4-0 email
  .github/workflows/cd_publish.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_workflow.yml
Due: none

Use RELEASE_PAT secret and @TEAM4-0 email (#353)
  .github/workflows/cd_publish.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_workflow.yml
Due: none

Deployed c4c6c06 to latest with MkDocs 1.2.3 and mike 1.1.2
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Update `pre-commit` hooks
  .pre-commit-config.yaml
Due: none

Update `pre-commit` hooks
  .pre-commit-config.yaml
  setup.py
Due: pylint

Ignore safety ID 44715 + add numpy dependency
  .github/workflows/ci_workflow.yml
  requirements.txt
Due: none

Ignore also ID 44716 and 44717 for safety (numpy)
  .github/workflows/ci_workflow.yml
Due: none

Ignore safety ID 44715 + add numpy dependency (#361)
  .github/workflows/ci_workflow.yml
  requirements.txt
Due: none

Deployed 7ad524f to latest with MkDocs 1.2.3 and mike 1.1.2
  latest/404.html
  latest/CHANGELOG/index.html
  latest/LICENSE/index.html
  latest/api_reference/emmopy/emmocheck/index.html
  latest/api_reference/emmopy/emmopy/index.html
  latest/api_reference/ontopy/colortest/index.html
  latest/api_reference/ontopy/excelparser/index.html
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/api_reference/ontopy/factpluspluswrapper/owlapi_interface/index.html
  latest/api_reference/ontopy/factpluspluswrapper/sync_factpp/index.html
  latest/api_reference/ontopy/graph/index.html
  latest/api_reference/ontopy/manchester/index.html
  latest/api_reference/ontopy/nadict/index.html
  latest/api_reference/ontopy/ontodoc/index.html
  latest/api_reference/ontopy/ontograph/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/api_reference/ontopy/patch/index.html
  latest/api_reference/ontopy/utils/index.html
  latest/assets/stylesheets/main.2b4465f4.min.css
  latest/assets/stylesheets/main.2b4465f4.min.css.map
  latest/assets/stylesheets/main.6e60f8b8.min.css
  latest/demo/horizontal/index.html
  latest/demo/index.html
  latest/demo/vertical/index.html
  latest/developers/release-instructions/index.html
  latest/developers/setup/index.html
  latest/developers/testing/index.html
  latest/docker-instructions/index.html
  latest/examples/emmodoc/classes/index.html
  latest/examples/emmodoc/emmo/index.html
  latest/examples/emmodoc/important_concepts/index.html
  latest/examples/emmodoc/index.html
  latest/examples/emmodoc/introduction/index.html
  latest/examples/emmodoc/relations/index.html
  latest/examples/jupyter-visualization/index.html
  latest/index.html
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tools-instructions/index.html
Due: none

Deployed 24d7348 to latest with MkDocs 1.2.3 and mike 1.1.2
  latest/sitemap.xml.gz
Due: none

Quick fix for saving on Windows
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

fix #365 add warning and convert nan to None
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Apply suggestions from code review
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

indentation warning
  ontopy/excelparser.py
Due: update-docs-api-reference, pylint

Path conditions:
  update-docs-api-reference: any of: ^(emmopy|ontopy)/.*\.py$
  update-docs-index: any of: ^README.md$
  pylint: any of: \.py$, but not: ^tests/.*$
