Repository emmo-repo/EMMOntoPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-docs-api-reference, update-docs-index, pylint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-symlinks
  - id: check-xml
    name: Check XML
    files: \.(xml|rdf|ttl)$
  - id: check-yaml
    name: Check YAML
  - id: destroyed-symlinks
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
    name: Fix requirements*.txt
    files: ^requirements.*\.txt$
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]

- repo: https://github.com/ambv/black
  rev: 21.12b0
  hooks:
  - id: black
    name: Blacken

- repo: https://github.com/PyCQA/bandit
  rev: '1.7.1'
  hooks:
  - id: bandit
    args: [-r]
    exclude: ^tests/.*$

# - repo: https://github.com/pre-commit/mirrors-mypy
#   rev: v0.910
#   hooks:
#   - id: mypy
#     exclude: ^tests/.*$

- repo: local
  hooks:
  - id: update-docs-api-reference
    name: Update API Reference in Documentation
    entry: invoke
    args: [create-api-reference-docs, --pre-clean, --pre-commit]
    language: python
    pass_filenames: false
    files: ^(emmopy|ontopy)/.*\.py$
    description: Update the API Reference documentation, whenever a Python file is touched in the code base.
  - id: update-docs-index
    name: Update Landing Page for Documentation
    entry: invoke
    args: [create-docs-index]
    language: python
    pass_filenames: false
    files: ^README.md$
    description: Update the landing page for the documentation if the source file (README.md) is changed.
  - id: pylint
    name: pylint
    entry: pylint
    language: python
    types: [python]
    require_serial: true
    exclude: ^tests/.*$

Updated docstring of get_by_label
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Changed both imported emmo and emmo-inferred to emmo-beta4.0 non inferred
  ontopy/ontology.py
  tests/ontopy_tests/conftest.py
  tests/ontopy_tests/interactive_test.py
  tests/ontopy_tests/test_get_version.py
  tests/ontopy_tests/test_graph.py
  tests/ontopy_tests/test_graph2.py
  tests/ontopy_tests/test_nadict.py
  tests/ontopy_tests/test_ontopy_ontodoc.py
  tests/ontopy_tests/test_utils.py
  tests/ontopy_tests/testutils.py
  tests/test_load.py
  tests/test_load_emmo.py
  tests/test_manchester.py
Due: update-docs-api-reference, pylint

Changed Semiotic to Semiotics in documentation
  examples/emmodoc/classes.md
Due: none

commented out Subatomic in documentation
  examples/emmodoc/classes.md
Due: none

Commented out mereotopological, conncted and semiotics in doc
  examples/emmodoc/relations.md
Due: none

Fix tools test & test sync_reasoner separately
  emmopy/emmopy.py
  tests/test_basic.py
  tests/tools/conftest.py
Due: update-docs-api-reference, pylint

Update registry in unbuntu before xelatex installation
  .github/workflows/ci_workflow.yml
Due: none

Corrected errors in tests due to upgrade to emmo 1.0.0-beta4
  .github/workflows/ci_workflow.yml
  ontopy/ontology.py
  tests/ontopy_tests/test_graph2.py
  tests/test_load.py
  tests/test_load_emmo.py
  tests/test_manchester.py
Due: update-docs-api-reference, pylint

Changed so that edges that are not defined get det default style for relations (olive)
  ontopy/graph.py
Due: update-docs-api-reference, pylint

Better warning
  ontopy/graph.py
Due: update-docs-api-reference, pylint

Commented out pdf generation in examples for ci_workflow
  .github/workflows/ci_workflow.yml
Due: none

Comment on commented out test
  .github/workflows/ci_workflow.yml
Due: none

SUPPORT EMMO-beta4.0 (#441)
  .github/workflows/ci_workflow.yml
  emmopy/emmopy.py
  examples/emmodoc/classes.md
  examples/emmodoc/relations.md
  ontopy/graph.py
  ontopy/ontology.py
  tests/ontopy_tests/conftest.py
  tests/ontopy_tests/interactive_test.py
  tests/ontopy_tests/test_get_version.py
  tests/ontopy_tests/test_graph.py
  tests/ontopy_tests/test_graph2.py
  tests/ontopy_tests/test_nadict.py
  tests/ontopy_tests/test_ontopy_ontodoc.py
  tests/ontopy_tests/test_utils.py
  tests/ontopy_tests/testutils.py
  tests/test_basic.py
  tests/test_manchester.py
  tests/tools/conftest.py
Due: update-docs-api-reference, pylint

Added testonto to fixtures. This revealed a different issue that should be adressed separately. Test will fail.
  ontopy/ontology.py
  tests/conftest.py
  tests/ontopy_tests/conftest.py
  tests/ontopy_tests/test_get_version.py
  tests/ontopy_tests/test_prefix.py
  tests/ontopy_tests/test_utils.py
  tests/test_basic.py
  tests/test_load.py
Due: update-docs-api-reference, pylint

Removed dependency on pydot
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Apply suggestions from code review
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Removed pydot from requirements
  requirements.txt
Due: none

Updated so that label_annotations are taken care of even if load is not called
  ontopy/ontology.py
  tests/test_basic.py
Due: update-docs-api-reference, pylint

Removed old test_graph.py
  ontopy/ontology.py
  tests/ontopy_tests/test_graph.py
Due: update-docs-api-reference, pylint

Updated Ontology.get_unabbreviated_triples() to match changes in World.get_unabbreviated_triples()
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Changes form pylint and blacken
  demo/horizontal/step4_map_instance.py
Due: pylint

Removed ontopy/ontograph.py
  ontopy/ontograph.py
Due: update-docs-api-reference, pylint

Removed docs for deleted ontograph
  docs/api_reference/ontopy/ontograph.md
Due: none

Fixed indentation in documentation
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Typo in docstring
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Put prefix in init for Ontology and added emmo prefix tests
  ontopy/ontology.py
  tests/ontopy_tests/test_prefix.py
Due: update-docs-api-reference, pylint

Added asserts
  tests/ontopy_tests/test_prefix.py
Due: none

Added test
  tests/test_load.py
Due: none

Support for userdefined prefixes (#439)
  demo/horizontal/step4_map_instance.py
  docs/api_reference/ontopy/ontograph.md
  emmopy/emmopy.py
  ontopy/ontograph.py
  ontopy/ontology.py
  requirements.txt
  tests/conftest.py
  tests/ontopy_tests/conftest.py
  tests/ontopy_tests/test_get_version.py
  tests/ontopy_tests/test_graph.py
  tests/ontopy_tests/test_prefix.py
  tests/ontopy_tests/test_utils.py
  tests/test_basic.py
  tests/test_load.py
  tests/testonto/testonto.ttl
Due: update-docs-api-reference, pylint

Deployed bcfcbfd to latest with MkDocs 1.3.1 and mike 1.1.2
  latest/404.html
  latest/CHANGELOG/index.html
  latest/LICENSE/index.html
  latest/api_reference/emmopy/emmocheck/index.html
  latest/api_reference/emmopy/emmopy/index.html
  latest/api_reference/ontopy/colortest/index.html
  latest/api_reference/ontopy/excelparser/index.html
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/api_reference/ontopy/factpluspluswrapper/owlapi_interface/index.html
  latest/api_reference/ontopy/factpluspluswrapper/sync_factpp/index.html
  latest/api_reference/ontopy/graph/index.html
  latest/api_reference/ontopy/manchester/index.html
  latest/api_reference/ontopy/nadict/index.html
  latest/api_reference/ontopy/ontodoc/index.html
  latest/api_reference/ontopy/ontograph/index.html
  latest/api_reference/ontopy/ontology/index.html
  latest/api_reference/ontopy/patch/index.html
  latest/api_reference/ontopy/utils/index.html
  latest/demo/horizontal/index.html
  latest/demo/horizontal/step4_map_instance.py
  latest/demo/index.html
  latest/demo/vertical/index.html
  latest/developers/release-instructions/index.html
  latest/developers/setup/index.html
  latest/developers/testing/index.html
  latest/docker-instructions/index.html
  latest/examples/emmodoc/classes/index.html
  latest/examples/emmodoc/emmo/index.html
  latest/examples/emmodoc/important_concepts/index.html
  latest/examples/emmodoc/index.html
  latest/examples/emmodoc/introduction/index.html
  latest/examples/emmodoc/relations/index.html
  latest/examples/jupyter-visualization/index.html
  latest/index.html
  latest/objects.inv
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tools-instructions/index.html
  master/api_reference/ontopy/ontograph/index.html
Due: pylint

Better error messages (#435)
  ontopy/ontology.py
  ontopy/utils.py
  tests/test_load.py
Due: update-docs-api-reference, pylint

Deployed 4f6cd89 to latest with MkDocs 1.3.1 and mike 1.1.2
  latest/api_reference/ontopy/ontology/index.html
  latest/api_reference/ontopy/utils/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Deployed 44f151f to latest with MkDocs 1.3.1 and mike 1.1.2
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

Updated reading from catalog so that full urls to webprotocols when given as destination are used directly.
  ontopy/utils.py
  tests/test_load.py
Due: update-docs-api-reference, pylint

Fixed reading web destinations defined in catalog
  ontopy/utils.py
  tests/test_load.py
Due: update-docs-api-reference, pylint

Deployed 02b3c84 to latest with MkDocs 1.3.1 and mike 1.1.2
  latest/api_reference/ontopy/factpluspluswrapper/factppgraph/index.html
  latest/api_reference/ontopy/utils/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Test eq
  ontopy/utils.py
Due: update-docs-api-reference, pylint

Added spo arguments to get_unabbreviated_triples()
  ontopy/ontology.py
Due: update-docs-api-reference, pylint

Made get_unabbreviated_triples() on an ontology, only return the triples in the given ontology.
  ontopy/ontology.py
Due: update-docs-api-reference, pylint
